.lil-gui.root{
  max-height: 100%;
  position:absolute;
  right:0;
  z-index:1001;
}

.tjviewer_slider {
  position: absolute;
  cursor: ns-resize;

  width: 100%;
  height: 1px;
  background-color: #F32196;
  opacity: 0.7;
  
  top: calc(50% - 1px);
  left: 0px;
}

.tjviewer_resizeblock {
  position: absolute;
  cursor: nwse-resize;
  background-color: darkgray;
  
  width: 5px;
  height: 5px;
}

.tjviewer_titlebox {
  position: absolute;
  top: 2px;
  left: 2px;
}

.tjviewer_titlebox2 {
  position: absolute;
  top: 2px;
  left: calc(50% + 2px);
}

.tjviewer_scalebar {
  position: absolute;
  left: 20px;
  width: 135px;
  height: 2px;
  background: white;
}

.tjviewer_scalebar2 {
  position: absolute;
  left: calc(50% + 20px);
  width: 0px;
  height: 2px;
  background: white;
}